---
---

@import "variables";
@import "bootstrap/bootstrap";

body, html {
    height: 100%;
}

// Override Bootstrap underlining for anchors
a:hover {
    color: #0056b3;
}

// For setting cover background
.site-wrapper { 
    /* The image used */
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../img/robot.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
}

#mainButton {
  background-color: $team-gold;
  border: 0px;
  color: $black;
}

.site-wrapper-inner {
  vertical-align: middle !important;
}

// navbar stuff

.navbar {
  
  font-weight: bold;

  @include media-breakpoint-up(lg) {
    background-color: transparent !important;
    height: $navbar-logo-height;
    margin-top: $navbar-logo-height;
    border: 0;
  }
  
}

.nav-item {
  margin-left: 5px;
  margin-right: 5px;
}

.btn-outline-team {
  color:  $team-gold !important;
  border-color: $team-gold !important;
  background-color: transparent;
  background-image: none;
}
.btn-outline-team:hover {
  color: $white !important;
  background-color:  $team-gold !important;
  border-color:  $team-gold !important;
}
