---
---

@import "variables";
@import "bootstrap/bootstrap";

body, html {
    height: 100%;
}
.site-wrapper { 
    /* The image used */
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/robot.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
}

.navbar-nav > li > a {
  line-height: 30px;
}

.navbar .nav {
  padding: .25rem 0;
  font-weight: bold;
  color: $white;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

#mainButton {
  background-color: $teamColor;
  border: 0px;
  color: $black;
}

.nav-link {
  color: $white !important;
}