---
---
@import "variables";
@import "bootstrap/bootstrap";

.btn-outline-team {
  color: $team-gold !important;
  border-color: $team-gold !important;
  background-color: transparent;
  background-image: none;
}

.btn-outline-team:hover {
  color: $white !important;
  background-color: $team-gold !important;
  border-color: $team-gold !important;
}
.btn-outline-team-invert {
  color: $white !important;
  background-color: $team-gold !important;
  border-color: $team-gold !important;
  background-image: none;
}

.btn-outline-team-invert:hover {
  color: $team-gold !important;
  border-color: $team-gold !important;
  background-color: transparent;
}

.diamond-sponsor {
  color: $diamond-sponsor !important;
}

.platinum-sponsor {
  color: $platinum-sponsor !important;
}

.gold-sponsor {
  color: $gold-sponsor !important;
}

.silver-sponsor {
  color: $silver-sponsor !important;
}

.bronze-sponsor {
  color: $bronze-sponsor !important;
}

.support-sponsor {
  color: $support-sponsor !important;
}

.label{
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 14px;
  color: $white;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: $gray-200;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}

.label-team {
  background-color: $team-gold !important;
}
.btn-info{
  background-color: $team-gold !important;
  border-color: $team-gold !important;
}
body > .container{ padding-top: 80px; }
// @media screen and (max-width: 768px) {
//     body { padding-top: 0px; }
// }

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.navbar-brand {
  /* Stops hamburger overflow for small width screens */
  margin-right: 0;
}

.navbar-logo {
  height: 30px;

  @media (max-width: 319px) {
    height: 25px;
  }
}

.nav-link {
  color: white !important;
  font-size: 18px;
}
.navbar {
  margin-left: auto;
  margin-right: auto;
}
.navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
  fill: white;
  fill-rule: evenodd;
}