<p class="mb-1">
    Contact us: <a href="mailto:contact@team4099.com">contact@team4099.com</a>
    &nbsp;&middot;&nbsp; <a href="https://www.instagram.com/frc4099/?hl=en">Instagram</a>
    &nbsp;&middot;&nbsp; <a href="https://www.tiktok.com/@frc4099">TikTok</a>
    &nbsp;&middot;&nbsp; <a href="https://www.youtube.com/phsfirstrobotics">YouTube</a>
    &nbsp;&middot;&nbsp; <a href="https://github.com/team4099">GitHub</a>
</p>
<p>&copy; {{ site.time | date: '%Y' }} Team 4099. Site hosted on <a href="https://github.com/team4099/team4099.github.io">GitHub.</a></p>
