<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #1b1f22;">
    <a class="navbar-brand" href="/">
        <img src="/img/logo.svg" class="d-inline-block align-top navbar-logo" alt="Team 4099">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/programs/falconcamps">FalconCamps</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="programsDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Programs
                </a>
                <div class="dropdown-menu" aria-labelledby="programsDropdown">
                    <a class="dropdown-item" href="/programs/frc">FRC</a>
                    <a class="dropdown-item" href="/programs/robocamps">RoboCamps</a>
                    <a class="dropdown-item" href="/programs/girlscouts">RoboBadge</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="learnDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Resources
                </a>
                <div class="dropdown-menu" aria-labelledby="learnDropdown">
                    <a class="dropdown-item" href="/learn/business">Business</a>
                    <a class="dropdown-item" href="/learn/design">Design</a>
                    <a class="dropdown-item" href="/learn/electrical">Electrical</a>
                    <a class="dropdown-item" href="/learn/mechanical">Mechanical</a>
                    <a class="dropdown-item" href="/learn/programming">Programming</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/supportus">Support Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>

            &nbsp;&nbsp;

        </ul>
    </div>
</nav>
