<div class="">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">        
    <a class="navbar-brand" href="/">
    <img src="img/logo.png" height="30" class="d-inline-block align-top" alt="Team 4099">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Programs
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="programs/frc.html">FRC</a>
                <a class="dropdown-item" href="programs/outreach.html">Outreach</a>
            </div>&nbsp&nbsp&nbsp&nbsp&nbsp
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="about/team.html">Our Team</a>
                <a class="dropdown-item" href="about/business.html">Business</a>
                <a class="dropdown-item" href="about/design.html">Design</a>
                <a class="dropdown-item" href="about/electrical.html">Electrical</a>
                <a class="dropdown-item" href="about/mechanical.html">Mechanical</a>
                <a class="dropdown-item" href="about/programming.html">Programming</a>
                <a class="dropdown-item" href="about/mentors.html">Mentors</a>
                <a class="dropdown-item" href="about/sponsors.html">Sponsors</a>
            </div>
        </li>&nbsp&nbsp&nbsp&nbsp&nbsp
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Learn
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="learn/business.html">Business</a>
                <a class="dropdown-item" href="learn/design.html">Design</a>
                <a class="dropdown-item" href="learn/electrical.html">Electrical</a>
                <a class="dropdown-item" href="learn/mechanical.html">Mechanical</a>
                <a class="dropdown-item" href="learn/programming.html">Programming</a>
            </div>
        </li>&nbsp&nbsp&nbsp&nbsp&nbsp
        <li class="nav-item"><a class="nav-link" href="sponsorus.html">Sponsor Us</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp
        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp
        <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
    </ul>
    </div>
</nav>
</div>