<style>
    .navbar-logo {
        height: 30px;
    }

    .nav-link {
        color: white !important;
    }
    .navbar {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/img/logo.png" class="d-inline-block align-top navbar-logo" alt="Team 4099">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse center-fix" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="programsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Programs
                </a>
                <div class="dropdown-menu" aria-labelledby="programsDropdown">
                    <a class="dropdown-item" href="/programs/frc">FRC</a>
                    <a class="dropdown-item" href="/programs/outreach">Outreach</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                    <a class="dropdown-item" href="/about/team">Our Team</a>
                    <a class="dropdown-item" href="/about/business">Business</a>
                    <a class="dropdown-item" href="/about/design">Design</a>
                    <a class="dropdown-item" href="/about/electrical">Electrical</a>
                    <a class="dropdown-item" href="/about/mechanical">Mechanical</a>
                    <a class="dropdown-item" href="/about/programming">Programming</a>
                    <a class="dropdown-item" href="/about/mentors">Mentors</a>
                    <a class="dropdown-item" href="/about/sponsors">Sponsors</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="learnDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Learn
                </a>
                <div class="dropdown-menu" aria-labelledby="learnDropdown">
                    <a class="dropdown-item" href="/learn/business">Business</a>
                    <a class="dropdown-item" href="/learn/design">Design</a>
                    <a class="dropdown-item" href="/learn/electrical">Electrical</a>
                    <a class="dropdown-item" href="/learn/mechanical">Mechanical</a>
                    <a class="dropdown-item" href="/learn/programming">Programming</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/sponsorus">Support Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
        </ul>
    </div>
</nav>