$team-gold: #efae04;
$team-black: #000000;

$diamond-sponsor: #b9f2ff;
$platinum-sponsor: #e5e4e2;
$gold-sponsor: #e4b94f;
$silver-sponsor: #c0c0c0;
$bronze-sponsor: #cd7f32;
$support-sponsor: #00cc66;


$navbar-logo-height: 30px;
