---
layout: page
title: About - Our Team
---

<h2>Our Team</h2>
<div class="row">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Team 4099 strives to create an inclusive learning community where students can apply their knowledge of Science, Technology, Engineering, Art, and Math (STEAM) to real-world problems.</p>
        <hr>
    </blockquote>
</div>

<div class="row justify-content-center">
    <div id="carouselExampleControls" class="carousel slide col-md-8" data-ride="carousel">
        <div class="carousel-inner">
            {% assign image_files = site.static_files | where: "gallery",true %}
            {% for image in image_files %}
                {% if image.path contains 'img/gallery' %}
                    {% if forloop.first == true %}             
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">                            
                    {% endif %}                    
                        <img class="d-block w-100" src="{{ image.path }}" alt="{{ image.basename }}">
                    </div>
                {% endif %}            
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="row">
        <!-- STEPS -->
</div>
<div class="row">
    
</div>
<div class="row">
    <div class="col col-sm-2">
        <br>
        <h3>Team Goals</h3>
    </div>
    
    <div class="col col-sm-10">
        <br>
        <p>Team 4099 has four primary goals:</p>
        <ol>
            <li>Increasing STEM awareness in our community (Poolesville, and eventually all of Montgomery County),</li>
            <li>Removing barriers to STEM interest for underrepresented groups,</li>
            <li>Readying our students for college and the workforce, and </li>
            <li>Ensuring that our students have fun and make friends while doing so.</li>
        </ol>
        <p>Everything that the team does is directly intended to address at least one of these goals, from competing in the FIRST 
            Robotics Competition to hosting team kickball games to starting RoboCamps in Montgomery County.</p>
    </div>    
</div>

<br><br>
<div class="row">
    <div class="col col md-4">
        <h3>History</h3>
    </div>
    <div class="col col-md-10">
        <p>Team 4099 was first founded in 2012 at Poolesville High School by a group of students in the Science, Math, and Computer 
            Science Magnet program. These students wanted to have the opportunity to build robots and compete in the FIRST Robotics 
            Competition. The students raised funds, recruited staff mentors, and formed a team of dedicated students to compete in 
            their rookie year. The team's Rebound Rumble robot was highly capable, and the team's strategy impressed judges enough to
            win the team the Rookie All-Star award at the Washington D.C. Regional that year. The team then attended the FIRST 
            Championship in St. Louis, finishing in the middle of the pack in a strong Galileo division. 
        </p>
        <p>
            Since that year, Team 4099 has been working hard on meeting our goals. The team worked hard on improving our on-field
            performance consistency and performance, steadily building team knowledge on how to build a successful robot. The team's 
            strategic design improved, as did the quality of the engineering on the robot. In the 2016 season, the team won the 
            Innovation in Control award at one of our district events for developing a unique Linux driver for the Microsoft Kinect. 
            Additional improvement manifested itself in the 2018 FIRST Robotics season, in which Team 4099 made the elimination 
            rounds at both of its district events and advanced to the FIRST Championship in Detroit.
        </p>
        <p>
            Over the last eight years, the team has not only improved the engineering, but also made great progress on outreach and 
            fundraising. Most of this progress was made in a huge jump in the 2018 season, with the team budget in 2018 at $50,000, 
            compared to the $6,000 from just the previous year. Additionally, in 2018, Team 4099 began their most ambitious outreach 
            project, RoboCamps. These major jumps have prepared the team to have even more success going forward.
        </p>
        <p>
            In 2019, Team 4099 built their most advanced robot yet. The team did better than they ever have in the qualifications events, and made it to the District Championship for the first time.
            They ran another successful year of RoboCamps, this year launching an advanced version of the camps which many campers and parents loved.
        </p>
        <p>
            In 2020-2021, the unexpected outbreak of Covid-19 resulted in the cancellation of many events and the introduction of 
            an at-home game. Team 4099 won District Chairman's for the first team with a gold star essay and video submission. Over 
            the summer, the team made a rapid switch online for RoboCamps, and introduced FalconCamps, a completely online initiative.
        </p>
        <p>
            In the 2022 season, the team made several great leaps and bounds in their best season so far. They reached semifinals in District Championships and 
            finals in the World Championship, becoming the first team in the history of Maryland to make it this far. Because of the team's outstanding performance, they 
            were invited to participate in IRI, a prestigious offseason competition where they continued to plow ahead and place first.
        </p>
    </div>
</div>
<br><br>
<div class="row">
    
</div>
