---
layout: page
title: Blog
---
<style>
    /*
 * Globals
 */

    body {
        /* font-family: Georgia, "Times New Roman", Times, serif; */
        color: #555;
    }

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        margin-top: 0;
        font-weight: normal;
        color: #333;
    }
    /*
 * Override Bootstrap's default container.
 */

    @media (min-width: 1200px) {
        .container {
            width: 970px;
        }
    }
 
    /*
 * Blog name and description
 */

    .blog-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .blog-title {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 60px;
        font-weight: normal;
    }

    .blog-description {
        font-size: 20px;
        color: #999;
    }
    /*
 * Main column and sidebar layout
 */

    .blog-main {
        font-size: 18px;
        line-height: 1.5;
    }
    /* Sidebar modules for boxing content */

    .sidebar-module {
        padding: 15px;
        margin: 0 -15px 15px;
    }

    .sidebar-module-inset {
        padding: 15px;
        background-color: #f5f5f5;
        border-radius: 4px;
    }

    .sidebar-module-inset p:last-child,
    .sidebar-module-inset ul:last-child,
    .sidebar-module-inset ol:last-child {
        margin-bottom: 0;
    }

    /*
 * Blog posts
 */

    .blog-post {
        margin-bottom: 60px;
    }

    .blog-post-title {
        margin-bottom: 5px;
        font-size: 40px;
    }

    .blog-post-meta {
        margin-bottom: 20px;
        color: #999;
    }
    /*
 * Footer
 */

    .blog-footer {
        padding: 40px 0;
        color: #999;
        text-align: center;
        /* background-color: #f9f9f9; */
        border-top: 1px solid #e5e5e5;
    }

    .blog-footer p:last-child {
        margin-bottom: 0;
    }
</style>

<div class="blog-header">
    <h1 class="display-3">Team 4099 Blog</h1>
    <p class="lead blog-description">The day-to-day activities of Team 4099.</p>
</div>

<div class="row">

    <div class="col-sm-8 blog-main">
        {% for post in paginator.posts %}
            <div class="blog-post">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p class="blog-post-meta">{{ post.date }} by {{ post.author }}</p>
                {{ post.content}}
            </div>
            <!-- /.blog-post -->
        {% endfor %}

        
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {% if paginator.previous_page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% elsif page == 1 %}
                        <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
                    </li>
                {% else %}
                <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>
    <!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean
                lacinia bibendum nulla sed consectetur.</p>
        </div>
        <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
                <li><a href="#">March 2014</a></li>
                <li><a href="#">February 2014</a></li>
                <li><a href="#">January 2014</a></li>
                <li><a href="#">December 2013</a></li>
                <li><a href="#">November 2013</a></li>
                <li><a href="#">October 2013</a></li>
                <li><a href="#">September 2013</a></li>
                <li><a href="#">August 2013</a></li>
                <li><a href="#">July 2013</a></li>
                <li><a href="#">June 2013</a></li>
                <li><a href="#">May 2013</a></li>
                <li><a href="#">April 2013</a></li>
            </ol>
        </div>
        
    </div>
    <!-- /.blog-sidebar -->

</div>
<!-- /.row -->

<footer class="blog-footer">
    {% include footerContents.html %}
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>