<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico">

    <title>Team 4099</title>

    <link rel="stylesheet" href="https://fontlibrary.org/face/trueno" type="text/css"/>
    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    {% include analytics.html %}
    <meta name="google-site-verification" content="dCfBdBGX9odX6CjYJ0gxzFrNT9HOr5RVIX00493lf2A"/>
</head>

<body>
<div class="site-wrapper" id="site-wrapper">
    {% include navbar.html fixed-top="fixed-top" %}
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading">Team 4099</h1>
                <p class="lead">
                    Team 4099 is a student-led <strong><a href="https://www.firstinspires.org/robotics/frc">FIRST</a></strong>
                    robotics team based in Poolesville, Maryland. We provide an <strong>inclusive, collaborative environment</strong> for students
                    to learn <strong>real-world robotics and engineering skills.</strong>
                </p>
                <div class="lead">
                    <p>
                        <a href="/about/" class="btn btn-lg btn-secondary" id="mainButton">About us</a>
                    </p>
                </div>

                <p class="lead">
                    FalconCamps and RoboCamps registration is now open!
                </p>
                <div class="lead">
                    <a href="/programs/camps" class="btn btn-lg btn-secondary" id="mainButton">Camps</a>
                </div>
            </div>
        </div>
    </div>
    <img src="/img/2025TeamPhoto.jpg" id="highres-robot" style="display: none;">
</div>

<section class="home-section">
    <div class="container">
        <h2>Our Team</h2>
        <blockquote class="blockquote text-center">
            <p class="mb-0">Team 4099 strives to create an inclusive learning community where students can apply their knowledge of Science, Technology, Engineering, Art, and Math (STEAM) to real-world problems.</p>
        </blockquote>
        <hr>
        <div class="row justify-content-center">
            <div id="carouselExampleControls" class="carousel slide col-md-8" data-ride="carousel">
                <div class="carousel-inner">
                    {% assign image_files = site.static_files | where: "gallery",true %}
                    {% for image in image_files %}
                        {% if image.path contains 'img/gallery' %}
                            {% if forloop.first == true %}
                                <div class="carousel-item active">
                            {% else %}
                                <div class="carousel-item">
                            {% endif %}
                                <img class="d-block w-100" src="{{ image.path }}" alt="{{ image.basename }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="home-section home-section-alt">
    <div class="container">
        <h2>Team Goals</h2>
        <hr>
        <p>Team 4099 has four primary goals:</p>
        <ol>
            <li>Increasing STEM awareness in our community (Poolesville, and eventually all of Montgomery County),</li>
            <li>Removing barriers to STEM interest for underrepresented groups,</li>
            <li>Readying our students for college and the workforce, and</li>
            <li>Ensuring that our students have fun and make friends while doing so.</li>
        </ol>
        <p>Everything that the team does is directly intended to address at least one of these goals, from competing in the FIRST
            Robotics Competition to hosting team kickball games to starting RoboCamps in Montgomery County.</p>
    </div>
</section>

<footer class="footer home-footer">
    <div class="container">
        <span class="text-muted">{% include footerContents.html %}</span>
    </div>
</footer>

{% include bottomImports.html %}
<script src="/js/index.js"></script>
</body>

</html>
