<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico">

    <title>Team 4099</title>

    <link rel="stylesheet" href="https://fontlibrary.org/face/trueno" type="text/css"/>    
    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>

    <div class="site-wrapper">
        <!-- <div class="container"> -->
            {% include navbar.html fixed-top="fixed-top" %}
            <!-- <br><br><br><br><br><br><br><br><br> -->
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="inner cover">
                        <h1 class="cover-heading">Team 4099</h1>
                        <p class="lead">
                            Team 4099 is a high school robotics team based out of <strong><a href="http://www.montgomeryschoolsmd.org/schools/poolesvillehs/">Poolesville HS</a>.</strong> We provide an <strong>inclusive, student-led environment</strong> for students to learn <strong>real-world engineering skills.</strong>
                        </p>
                        <p class="lead">
                            <a href="/ourteam" class="btn btn-lg btn-secondary" id="mainButton">About us</a>
                        </p>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            {% include footerContents.html %}
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->

        {% include bottomImports.html %}

</body>

</html>