<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Team 4099</title>

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>

    <div class="site-wrapper">
        <div class="container">
            {% include navbar.html %}
            <br><br><br><br><br><br><br><br><br>
            <div class="row site-wrapper-inner">
                <div class="cover-container">
                    <div class="inner cover">
                        <h1 class="cover-heading">Team 4099</h1>
                        <p class="lead">It's not just a robot. It's the first step into something amazing.</p>
                        <p class="lead">
                            <a href="about/team.html" class="btn btn-lg btn-secondary" style="background-color: #E4B94F; border:0px;">About us</a>
                        </p>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include bottomImports.html %}

</body>

</html>