<html lang="en">
        
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/img/favicon.ico">
    
        <title>{{ page.title }} - Learn - Team 4099</title>
    
        <!-- Custom styles for this template -->
        {% include topImports.html %}
    </head>
    
    <body>
        <header>
            {% include navbar.html %}
        </header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{{ page.title }}</h1>
                    {{ content }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul>
                        {% for learn_page in site.learn %}
                            {% if learn_page.categories contains page.subteam %}
                                <li><a href="{{ learn_page.url }}">{{ learn_page.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <br>
        </div>
    
        <footer class="footer">
            <div class="container">
                <span class="text-muted">{% include footerContents.html %}</span>
            </div>
        </footer>

        {% include bottomImports.html %}
    
    </body>
        
</html>