<html lang="en">
        
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
            <link rel="icon" href="favicon.ico">
        
            <title>Team 4099</title>
        
            <!-- Custom styles for this template -->
            {% include topImports.html %}
        </head>
        
        <body>
        
            <div class="container">
                <!-- <div class="container"> -->
                    {% include navbar.html %}
                    <br><br><br>
                    <div class="row">
                        <div class="col">
                            {{ content }}
                        </div>
                    </div>
                <!-- </div> -->
        
                {% include bottomImports.html %}
        
        </body>
        
        </html>