<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico">

    <title>{{ page.title }} - Team 4099</title>

    <!-- Custom styles for this template -->
    <script src="https://use.fontawesome.com/7124f2cd3d.js"></script>
            
    {% include topImports.html %}
</head>

<body>
    <header>
        {% include navbar.html %}
    </header>
    <div class="container">        
        <h2>{{ page.title }}</h2>
        <hr>
        <h3 class="mb-4">The Challenge: <em>{{ page.competition_name }}</em></h3>
        <div class="row justify-content-center mb-4">
            <div class="col-md-10 col-lg-8">
                <div class="embed-responsive embed-responsive-16by9 robot-video-card">
                    <iframe class="embed-responsive-item" src="{{ page.competition_video }}" frameborder="0" allowfullscreen></iframe>                                
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 text-center text-md-left">
                <p class="lead-text">
                    <em>{{ page.competition_name }}</em> {{ page.competition_summary | textilize }} More information can be found on <a href='{{ page.competition_summary_url }}' target="_blank">{{ page.competition_summary_provider }}</a>.
                </p>
            </div>
        </div>
        
        <div class="row robot-spec-grid">
            <div class="col-lg-4 col-md-6 mb-4">             
                <div class="robot-card h-100">
                    <h4>Our Robot</h4>
                    <hr>
                    <div class="text-center mt-3">
                        <img class="img-fluid robot-image" src="{{ page.image_url }}" alt="{{ page.title }}">
                    </div>
                </div>
            </div>       
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="robot-card h-100">
                    <h4>Robot Specs</h4>
                    <hr>
                    <ul class="list-unstyled spec-list">
                        <li><span class='label label-info label-team'>Name</span> <span class="spec-val">{{ page.robot_name }}</span></li>
                        <li><span class='label label-info label-team'>Weight</span> <span class="spec-val">{{ page.robot_weight }} lbs</span></li>
                        <li><span class='label label-info label-team'>Size</span> <span class="spec-val">{{ page.robot_width }}" × {{ page.robot_length }}" × {{ page.robot_height }}"</span></li>
                        {% for fact in page.quick_facts %}
                        <li class="custom-spec-fact"><span class="spec-val">{{ fact }}</span></li>
                        {% endfor %}
                    </ul>      
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="robot-card h-100">
                    <h4>Competition History</h4>
                    <hr>
                    <ul class="list-unstyled history-list">
                        {% for competition in page.competitions %}
                            <li>
                                <span class='label label-info label-team'>{{ competition[0] }}</span>
                                <div class="history-detail">{{ competition[1] }}</div>
                            </li>
                        {% endfor %}
                    </ul>      
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">{% include footerContents.html %}</span>
        </div>
    </footer>

    {% include bottomImports.html %}

</body>
    
</html>