<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap" rel="stylesheet">
    <style type="text/css">
        html {
            overflow: hidden;
        }
    </style>
    <title>{{ page.title }} - Learn - Team 4099</title>

    <!-- Custom styles for this template -->
    {% include topImports.html %}
</head>

<body>
    <header>
        {% include navbar.html %}
    </header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
        </div>
    </div>
    <br>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">{% include footerContents.html %}</span>
        </div>
    </footer>

    {% include bottomImports.html %}


</body>

</html>