<html lang="en">
        
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/img/favicon.ico">
    
        <title>{{ page.title }} - Team 4099</title>
    
        <!-- Custom styles for this template -->
        {% include topImports.html %}
    </head>
    
    <body>
        <header>
            {% include navbar.html %}
        </header>
        <div class="container">
            <br>
            <div class="row">
                <div class="col">
                    {{ content }}
                </div>
            </div>
        </div>
        <br>
    
        <footer class="footer">
            <div class="container">
                <span class="text-muted">{% include footerContents.html %}</span>
            </div>
        </footer>

        {% include bottomImports.html %}
    
    </body>
        
</html>